# Import the required Libraries and data

In [1]:
import pandas as pd
import os
import csv
import sys

In [2]:
budget_data = pd.read_csv("resources/budget_data.csv")
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

# Data Analysis

In [3]:
# Get the total number of months 
total_months = budget_data['Date'].nunique()
total_months

86

In [4]:
# Total amount of Profit/Losses overthe entire period 
net_total_ProfitLosses = sum(budget_data["Profit/Losses"])
net_total_ProfitLosses

38382578

In [5]:
"""
revenue change = every_item- previous_item
append revenue_change to a profit change list
calculate the average of the profit_change list
"""

reverse_counter = budget_data.shape[0] - 1 #helps us get every item and reverse
profit_change = [] #stores all the changes in the revenue

for item in range(len(budget_data)):
    every_item = budget_data["Profit/Losses"][reverse_counter]
    try:
        previous_item = budget_data["Profit/Losses"][reverse_counter - 1]
    except KeyError:
        break
    
    revenue_change = every_item - previous_item
    profit_change.append(revenue_change)
    
    reverse_counter-=1
    
#calculate the average of a list

# reverse the profit_change list to create a list in correct order
profitLoss_change = profit_change[::-1]
average_revenue_change = round(sum(profitLoss_change)/len(profitLoss_change), 2)
average_revenue_change

-2315.12

In [6]:
# greatest increase in profit is max of the profit change list
greatest_increase_in_profits = max(profitLoss_change)
when_increased = profitLoss_change.index(greatest_increase_in_profits)
date_increased = budget_data["Date"][when_increased + 1]
date_increased

'Feb-2012'

In [7]:
greatest_increase_in_profits

1926159

In [8]:
# greatest decrease in profit is max of the profit change list
greatest_decrease_in_profits = min(profitLoss_change)
when_decreased = profitLoss_change.index(greatest_decrease_in_profits)
date_decreased = budget_data["Date"][when_decreased + 1]
date_decreased

'Sep-2013'

In [9]:
greatest_decrease_in_profits

-2196167

# Results

In [10]:
PyBank_results = f"""
Financial Analysis
-----------------------------------------
Total Months: {total_months}
Total: ${net_total_ProfitLosses}
Average Change: ${average_revenue_change}
Greatest Increase in Profits: {date_increased} (${greatest_increase_in_profits})
Greatest Decrease in Profits: {date_decreased} (${greatest_decrease_in_profits})
"""

In [11]:
print(PyBank_results)

Financial Analysis
-----------------------------------------
Total Months: 86
Total: $38382578
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Increase in Profits: Sep-2013 ($-2196167)

In [12]:

with open('PyBank results.txt', 'w') as f:
    f.write(PyBank_results)